body {
    background-color: rgb(9, 4, 0);
}

nav {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-clip: text;
}
#heading{
    margin-left: 3rem;
    font-size: xx-large;
    filter: drop-shadow(0.2rem 0.2rem 2rem rgba(255, 212, 138, 0.389));
}

#logo {
    width: 5rem;
    border-radius: 1rem;
    margin-right: 3rem;
}

.tbtn {
    color: rgb(255, 149, 0);
    font-size: medium;
    border-radius: 1rem;
    background-color: rgba(255, 153, 0, 0.181);
    padding: 1rem;
    height: fit-content;
    transition: 0.15s;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tbtn:hover {
    box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.252);
}

.tbtn:active {
    scale: 0.8;

}

#reach {
    background-color: rgb(0, 0, 0);

}

#btnc {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1rem;
    justify-self: flex-end;
    margin-left: auto;
}

#top {
    color: aliceblue;
    padding: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quote {
    margin-top: 1rem;
    padding: 1rem;
    background-image: linear-gradient(to top left, rgb(255, 123, 0), rgb(238, 255, 0));
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 1rem;
    color: #07122b;
    transition: all ease 0.2s;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.quote:hover {
    scale: 1.1;
    box-shadow: 0.15rem 0.15rem 3rem 0.1rem rgb(255, 208, 0);
}

.quote:active {
    scale: 0.9;
}

#timg {
    width: 22rem;
    margin: 2rem;
    transition: 0.2s;
    filter: drop-shadow(0.2rem 0.2rem 2rem rgba(255, 212, 138, 0.252));
}

#timg:hover {
    scale: 1.05;
}

#upper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    font-size: 3vw;
}

#ai {
    width: 18rem;
    filter: drop-shadow(0.2rem 0.2rem 3rem rgba(255, 153, 0, 0.26));
    transition: 0.15s;
}

#ai:hover {
    scale: 1.1;
}

#features {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    font-size: xx-large;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#fgrid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#gi {
    padding: 1rem;
    margin: 0.15rem;
    display: inline-flex;
    align-items: center;
    font-size: x-large;
}

#gimg {
    width: 3rem;
}

#try {
    margin-top: 3rem;
}

#difference {
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
}

#dcont {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    border-radius: 0.15rem;
}

.differ {
    display: flex;
    transition: 0.15s;
}

#then {
    animation: border 1s ease;
    border-right: 0.2rem solid rgb(255, 119, 0);
}
#then:hover{
    color: rgb(255, 0, 0);
}
#now:hover{
    color: rgba(28, 241, 5, 0.763);
}

@keyframes border {
    from {
        border: 0;
    }

    to {
        border-right: 0.2rem solid rgb(0, 238, 255);
    }
}

.dlines {
    padding: 2rem;
    max-width: 30rem;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#discover{
    display: flex;
    padding: 1rem;
    margin: 1rem;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
}
#dimg{
    width: 22rem;
    border-radius: 1rem;
    box-shadow: 0.15rem 0.15rem 3rem rgba(255, 153, 0, 0.16);
}

#fcont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#fac{
    padding: 1rem;
    margin: 2rem;
    font-size: larger;
    display: inline-flex;
    justify-content: center;
    max-width: 15rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    background-color: rgba(255, 153, 0, 0.181);
    border-radius: 1rem;
    transition: 0.3s;
}
#fac:hover{
    scale: 1.06;
}
#facimg{
    width: 8rem;
}
#fheading{
    font-size: x-large;
    font-weight: bold;
    color: rgb(255, 132, 0);
}
#fdisc{
    color: rgb(255, 196, 133);
    font-size: medium;
}
#tn{
    filter: drop-shadow(0.2rem 0.2rem 3rem rgba(255, 153, 0, 0.26));
}
#about{
    gap: 2rem;
    margin: 2rem;
    margin-top: 4rem;
    max-width: 80rem;
    margin-left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    color: aliceblue;
}
#abimg{
    width: 8rem;
}
.abtext{
    font-size: large;
}
#contacts{
    display: inline-flex;
    align-self: center;
    gap: 0.1rem;
    flex-direction: column;
}
#contact{
    display: flex;
    align-items: center;
}
.ci{
    width: 2.5rem;
}

#dlc{
    display: flex;
    gap: 2rem;
    margin: 1rem;
}
.dl{
    padding: 1rem;
    cursor: pointer;
    display: flex;
    width: fit-content;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(252, 231, 202, 0.226);
    animation: grow 0.3s ease-in;
}
@keyframes grow {
    0%{
        scale: 0.8;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}

#dlimg{
    width: 3rem;
}
#txt{
    display: flex;
    flex-direction: column;
}
footer {
    background-color: rgb(20, 12, 1);
    padding: 2rem;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
#copy{
    margin-left: auto;
}
.inline{
    display: flex;
    margin-top: 1rem;
}
.iimg{
    width: 2rem;
    height: 2rem;
}
#cont{
    color: aliceblue;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#dhead{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

@media only screen and (max-width: 760px) {
    #ai {
        display: none;
    }
    #discover{
        flex-direction: column;
    }
    #dimg{
        width: 20rem;
    }
    #tn{
        display: none;
    }
    #gimg{
        width: 2rem;
    }
    .tbtn{
        font-size: xx-small;
    }
    #dcont{
        flex-direction: column;
    }
    #dlines{
        font-size: medium;
    }
}

@media only screen and (max-width: 600px) {
    #upper {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

}

@media only screen and (max-width: 760px){
    
}